body {
 background:	#0F0325 url(https://github.com/Tapiomalinen/tapiomalinen/blob/master/images/header2small.png?raw=true) repeat-x;
}

#wrap {
        width:1000px;
        margin:5px auto 15px auto;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#E6E6FA;
}
/* Header */
#header {
        height:150px;
        width:150px;
        background:url("https://github.com/Tapiomalinen/tapiomalinen/blob/master/images/profile.png?raw=true") no-repeat top;
        clear; both;
        margin:690px auto 15px auto;
  }

#topbar {
 height:78px
}

#topmenu {
        display:block;
        list-style:none;
        padding:0 0px 0px 0px;
        width:100%;
        background-color:#9400D3;
        text-align:center;
}
#topmenu li {
        display:inline;
}
#topmenu a {
        display:inline-block;
        height:28px;
        margin:0px 0px 0px 0px;
        text-decoration:none;
        padding:9px 15px 0px 15px;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
        color:#E6E6FA;
}
#topmenu a:hover{
        color:#ffffff;
        background-color: #b366ff;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:activate {
        color:#FFFFFF;
        background-color: #B42D0F
}
/*content*/
#content {
         background-color: #7A6989;
}
#mainpage{
         width:1000px;
         float:none;
         padding:5px 5px 5px 0px;
         height:auto;
         margin:5px auto 15px auto;
}
#mainpage p{
        line-height:22px;
        margin:10px 0px 22px 0px;
        text-align: justify;
}
#mainpage blockquote {
        background:#E6E6FA;
        display:block;
        margin:5px;
        font:Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5 {
        color:#E6E6FA;
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
}
#mainpage h1 {
        font-size:24px;
        color: #E6E6FA;
        text-align:center;
}
#mainpage h2 {
        font-size:18px;
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #9400D3;
}
#mainpage h3{
        font-size:20px;}
#mainpage h4 {
        font-size:18px;}
#mainpage h5 {
        font-size:16px;}

#footer {



}

table {
border-spacing: 5px;
}

table, th, td {
 border:1px solid #ffffff;
 /*border-collapse: collapse;*/
 padding: 15px;

}
th {
text-align:left;

}

table#t1 {
width: 80%;
background-color: #7FFFD4;
border:1px solid #ffffff;
}
