body {
 background:	#9932CC url(images/artstationlogo.jpg) repeat-x;
}


#wrap {
 width:1000px;
 margin:0px auto 15px auto;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#4B0082	
}
/* Header */
#header {
 height:242PX;
        background:url(https://github.com/Tapiomalinen/tapiomalinen/blob/master/images/viulistiheader2.png?raw=true) no-repeat left top;
        clear: both;
  }

#topbar {
 height:78px
}

#topmenu {
        display:block;
        list-style:none;
        padding:0 0px 0px 278px;
        float: middle;
        width:900
}
#topmenu li {
        display:inline;
}
#topmenu a {
        display:block;
        float:left;
        height:28px;
        margin:0px 0px 0px 0px;
        text-decoration:none;
        padding:9px 15px 0px 15px;
        text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
        color:#E6E6FA;
}
#topmenu a:hover{
        color:#ffffff;
        background-color: #8A2BE2;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:activate {
        color:#FFFFFF;
        background-color: #B42D0F
}
/*content*/
#content {
         background-color: #E6E6FA;
}
mainpage{
         width:1000px;
         float:left;
         padding:5px 5px 5px 0px;
         height:auto;
}
#mainpage p{
        line-height:22px;
        margin:10px 0px 22px 0px;
        text-align: justify;
}
#mainpage blockquote {
        background:#efefef;
        display:block;
        margin:5px;
        font:Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5 {
        color:#9932CC;
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
}
#mainpage h1 {
        font-size:24px;
        color: #FFFFFFF
}
mainpage h2 {
        font-size:18px;
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #9400D3;
}
#mainpage h3{
        font-size:20px;}
#mainpage h4 {
        font-size:18px;}
#mainpage h5 {
        font-size:16px;}

#footer {



}
